html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
button, input, select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	background: #eee;
	font-family: 'AvenirNextCyr', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	cursor: default;
}
.offer_section .title_block {
	text-transform: uppercase;
	text-align: center;
}

.offer_section.offer3 .title_block {
	padding: 12px 0;
	background: #53585c;
	color: #fff;
}

.offer_section .title_block .main_title {
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
}

.offer_section.offer1 .title_block .main_title {
	padding: 12px 0;
	background: #53585c;
	color: #fff;
}

.offer_section.offer2 .title_block .main_title {
	padding: 12px 0;
}

.offer_section.offer3 .title_block .main_title {
	margin: 0 0 5px;
}

.offer_section .title_block .subtitle {
	letter-spacing: 2.5px;
}

.offer_section.offer1 .title_block .subtitle {
	padding: 10px 0;
	color: #fff;
}

.offer_section.offer2 .title_block .subtitle {
	padding: 10px 0;
	background: #53585c;
	color: #fff;
}
і
.main_wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 480px;
	background: #fff;
}

section {
	padding: 30px 0;
}

section.dark_theme {
	background: #333;
	color: #fff;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

img,
video {
	max-width: 100%;
	height: auto;
}

b {
	font-weight: 700;
}

.owl-height {
	-webkit-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}

/* button */

.button {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	height: 80px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #ffd800;
	font-family: 'AvenirNextCyr', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 80px;
	letter-spacing: 2px;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
